.category__title {
  margin-bottom: 1rem;
}

.category__description {
  max-width: 800px;
  margin: 0 auto 2em auto;
}

.category_links {
  margin-bottom: 3em;
  display: grid;
  grid-gap: 1em;
  @include media(">=tablet") {
    grid-template-columns: 1fr 1fr;
  }
}

.category__redirect {
  margin-bottom: 1em;
}