.category__title {
  margin-bottom: 1rem;
}

.category__description {
  margin-bottom: 2em;
}

.category_links {
  margin-bottom: 1em;
  display: grid;
  grid-gap: 1em;
  @include media(">=tablet") {
    grid-template-columns: 1fr 1fr;
  }
}