.contributors {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5em;
}

.contributors a {
  color: $color-black;
  font-size: 1.2em;
  padding: 1em 1.5em;
  display: inline-grid;
  text-align: center;
  grid-gap: .4em;
}

.contributor__img {
  width: 60px;
  height: 60px;
  border-radius: 999em;
  justify-self: center;
}