@import "../../../node_modules/include-media/dist/include-media";

$font-family: 'Open Sans', sans-serif;

$breakpoints: (tablet: 768px, large: 992px, desktop: 1200px);

$color-black: #181818;
$color-white: #ffffff;
$color-purple: #794bc4;

$border-radius-sm: 4px;